html {
  color: #555;
  font-family: 'Open Sans';
}

html, body, #root, #room {
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
}

#room {
  display: flex;
  flex-direction: column;
}

#room > #message-list {
  flex: 1 1 auto;
  position: relative;
  overflow-y: auto;
}

#room > #message-form {
  flex: 0 0 auto;
  background-color: #dcdcdc;
}

#auth {
  padding: 10px;
  background-color: #2196F3;
  color: white;
}

