html {
  color: #555;
  font-family: 'Open Sans';
}

html, body, #root, #room {
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
}

#room {
  display: flex;
  flex-direction: column;
}

#message-list {
  flex: 1 1 auto;
  position: relative;
  overflow-y: auto;
  list-style: none;
  padding: 0 10px;
}

.message {
  margin-bottom: 10px;
}

.message > small {
  margin-left: 10px;
  color: #888;
}

#message-form {
  flex: 0 0 auto;
  background-color: #dcdcdc;
  padding: 10px;
  display: flex;
}

#message-form > input, button {
  border-radius: 5px;
  padding: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#message-form > input#message {
  flex: 1;
  margin-right: 10px;
}

#auth {
  padding: 10px;
  background-color: #2196F3;
  color: white;
}

#auth > .avatar {
  vertical-align: middle;
}

#auth > span {
  margin: 0 10px;
}
